/* --- Menu ---*/
	#navigation ul#nav,
	#navigation ul#nav {		
		position: relative;
		background:transparent url("../images/bg_nav_over.gif") left top repeat-x;	
		float:left;
		list-style-image:none;
		list-style:none;
		width: 100%;
		height: 26px;
		padding:0;
		margin:4px 0 0 0;		
	}
	#navigation ul#nav li{
		background:transparent url("../images_new/nav_divider.gif") right top no-repeat;
		list-style-image:none;
		list-style:none;		
		position: relative;
		float:left;
		text-align:center;				
	}
	#navigation ul#nav li.last{
		background:none;
	}
	#navigation ul#nav li.last a{
		padding:5px 28px;
		/*padding:5px 30px;*/
	}
	@media screen\0 { 
		#navigation ul#nav li.last a  {padding:5px 30px;}
	}
	#navigation ul#nav li.square { border: none;}
	#navigation ul#nav li a {
		display: block;
		height:16px;	
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		color:#fff;	
		font-size:13px;
		line-height:18px;
		padding:5px 33px;
		text-transform: uppercase;
		text-decoration: none;		
	}
	#navigation ul#nav li a:hover,
	#navigation ul#nav li a:focus,
	#navigation ul#nav li.active2 a{
		color:#2d639a;
		background:#fff;
	}
	#navigation ul#nav li a.f_render{
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;  
	}
	#navigation ul#nav li a.exit{
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	#navigation ul#nav li.active ul{ display:block;}
	#navigation ul#nav ul {	
		background:#fff url("../images/drp_shadow_bottom.gif") left bottom repeat-x;		
		display: none;
		border:3px solid #255794;
		position: absolute;
		top: 26px;
		left: 0;		
		width:432px;
		min-height:280px;		
		padding:0;	
		z-index: 100;
		-moz-box-shadow: 0 2px 5px #888;
		-webkit-box-shadow: 0 2px 5px #888;
		box-shadow: 0 2px 5px #888;
	}
	#navigation ul#nav ul li{
		background:none;						
		text-align:left;
		min-height:280px;
		padding:0;				
	}
	#navigation ul#nav ul.right{
		background:#fff url("../images/drp_shadow_bottom.gif") left bottom repeat-x;		
		display: none;
		border:3px solid #255794;
		position: absolute;
		top: 26px;
		left:auto;
		right:0 !important;
		width:435px;
		min-height:280px;		
		padding:0;	
		z-index: 1000;		
	}
	#navigation ul#nav ul.two_column{
		width:678px;
	}
	#navigation ul#nav ul.no_banner{
		width:510px;
	}
	#navigation ul#nav ul.one_column{
		width:422px;
	}
	/*#navigation ul#nav ul li a{		
		display: block;		
		height:25px;
		font-size:11px;
		color: #fff !important;
		line-height:25px;
		font-weight:normal;
		text-decoration: none;
		padding:0 0 0 8px;
		text-transform: capitalize;			
	}
	#navigation ul#nav ul li a:hover{
		color: #f89e31 !important;	
	}	*/	
/* --- Menu ---*/

.MenuActive 
{
display: block;
height:16px;	
font-family:"Lucida Sans Unicode", "Lucida Grande",Sans-Serif;
font-size:18px;
line-height:18px;
padding:5px 34px 5px 33px;
text-transform: uppercase;
text-decoration: none;		   
color:#2d639a;		
background:#ffffff;
}

.LeftActive 
{
background:#ecf6fd url("../images/int_nav_over.gif") left top no-repeat;
border:1px solid  #99d3eb ;	
}
.RcdcActive
{
background:transparent url("../images/rcdc_links_on_off.gif") left top no-repeat;
color:#285a94;
background-position:0 -35px;
}